/backend/backend/__pycache__
/backend/main/__pycache__
/backend/main/management/commands/__pycache__
/backend/main/management/__pycache__
/backend/main/migrations
/backend/virtualenv
backend/scripts/scan_results.json
backend/scan_results.json
backend/db.sqlite3
backend/db.sqlite3-journal
*.sqlite3
/backend/albums
/backend/media/albums
/backend/media/songs
/backend/media/artists
/backend/main/templatetags/__pycache__
*.pyc
/backend/.buildozer
/venv
backend/download-queue.bat
