[Unit]
Description=Gunicorn Melodify
After=network.target

[Service]
User=smiker
Group=www-data
WorkingDirectory=/src/melodify/backend
Environment="PATH=/src/melodify/venv/bin"
# Ejecuta gunicorn usando un socket Unix para mejor rendimiento
ExecStart=/src/melodify/venv/bin/gunicorn \
    --access-logfile - \
    --workers 3 \
    --bind unix:/src/melodify/melodify.sock \
    backend.wsgi:application

[Install]
WantedBy=multi-user.target
