:root {
    --bg-main               : #0f0500;
    --bg-nav                : #2a0a00;
    --bg-sidebar            : #3d1000;
    --bg-sidebar-selection  : #802000;
    --bg-sidebar-hover      : #5a1800;
    --bg-content-blend      : #1a0800C0;
    --bg-content            : #1a0800;
    --text-color            : #ffcc33;
    --secondary-color       : #d45d00;
    --link-color            : #ffeb3b;
    --section-color         : #ff4500;
    --confirm-color         : #ff9100;
    --accent-color          : #ff2200;
    --bg-player-title       : #661100;
    --shadow-color          : #000000;
    --tile-placeholder      : #4d1a00;
    --tile-info             : #0a0400;
    --tile-info-text        : #a84400;
    --gradient-begin        : #ff8c00;
    --gradient-end          : #ff2200;
    --nav-height            : 60px;
    --sidebar-width         : 432px;
}