:root {
    --bg-main               : #0a0a0a;
    --bg-nav                : #1a1a1a;
    --bg-sidebar            : #2c2c2c;
    --bg-sidebar-selection  : #ff6600;
    --bg-sidebar-hover      : #3a3a3a;
    --bg-content-blend      : #0a0a0aC0;
    --bg-content            : #141414;
    --text-color            : #f0f0f0;
    --secondary-color       : #aaaaaa;
    --link-color            : #9933ff;
    --section-color         : #ff6600;
    --confirm-color         : #4caf50;
    --accent-color          : #ffaa00;
    --bg-player-title       : #663300;
    --shadow-color          : #000000;
    --tile-placeholder      : #444444;
    --tile-info             : #000000;
    --tile-info-text        : #888888;
    --gradient-begin        : #ff6600;
    --gradient-end          : #4d0099;
    --nav-height            : 60px;
    --sidebar-width         : 432px;
    --default-font          : 'lunchtype-regular';
    --player-font           : 'lunchtype-regular';
    --player-font-size      : 24px;
    --renderer              : themed;
}