:root {
    --bg-main               : #202028;
    --bg-nav                : #585870;
    --bg-sidebar            : #383848;
    --bg-sidebar-selection  : #a8a8c0;
    --bg-sidebar-hover      : #484858;
    --bg-content-blend      : #282830C0;
    --bg-content            : #282830;
    --text-color            : #f8f8f8;
    --secondary-color       : #a8a8c0;
    --link-color            : #f8d030;
    --section-color         : #e0a000;
    --confirm-color         : #78c850;
    --accent-color          : #ff5040;
    --bg-player-title       : #506888;
    --shadow-color          : #101018;
    --tile-placeholder      : #404050;
    --tile-info             : #181820;
    --tile-info-text        : #888898;
    --gradient-begin        : #d8a048;
    --gradient-end          : #a07028;
    --nav-height            : 60px;
    --sidebar-width         : 432px;
}