:root {
    --bg-main               : #0f0a14;
    --bg-nav                : #05000a;
    --bg-sidebar            : #220e35;
    --bg-sidebar-selection  : #421663;
    --bg-sidebar-hover      : #2d1345;
    --bg-content-blend      : #0f0a14C0;
    --bg-content            : #140d1f;
    --text-color            : #b0a0c0;
    --secondary-color       : #6e5b82;
    --link-color            : #9d00ff;
    --section-color         : #5a009d;
    --confirm-color         : #2d4f1e;
    --accent-color          : #7b1fa2;
    --bg-player-title       : #1e0036;
    --shadow-color          : #000000;
    --tile-placeholder      : #2c1442;
    --tile-info             : #080010;
    --tile-info-text        : #5a4a6a;
    --gradient-begin        : #3a0066;
    --gradient-end          : #0a0014;
    --nav-height            : 60px;
    --sidebar-width         : 432px;
    --default-font          : 'lunchtype-regular';
    --player-font           : 'lunchtype-regular';
    --player-font-size      : 24px;
}