:root {
    --bg-main               : #d46a9b;
    --bg-nav                : #c24d81;
    --bg-sidebar            : #e287b2;
    --bg-sidebar-selection  : #b03a70;
    --bg-sidebar-hover      : #d979a7;
    --bg-content-blend      : #da7cb0C0;
    --bg-content            : #da7cb0;
    --text-color            : #ffffff;
    --secondary-color       : #fce4ec;
    --link-color            : #fefefe;
    --section-color         : #a63168;
    --confirm-color         : #88d498;
    --accent-color          : #ffd54f;
    --bg-player-title       : #b03a70;
    --shadow-color          : #8c3a60;
    --tile-placeholder      : #c95c8e;
    --tile-info             : #9a3d6a;
    --tile-info-text        : #f8bbd0;
    --gradient-begin        : #e91e63;
    --gradient-end          : #f06292;
    --nav-height            : 60px;
    --sidebar-width         : 432px;
}