:root {
    --bg-main               : #050505;
    --bg-nav                : #1a1a1a;
    --bg-sidebar            : #0d0d0d;
    --bg-sidebar-selection  : #004400;
    --bg-sidebar-hover      : #151515;
    --bg-content-blend      : #121212C0;
    --bg-content            : #121212;
    --text-color            : #33ff33;
    --secondary-color       : #228822;
    --link-color            : #ffff33;
    --section-color         : #00ccff;
    --confirm-color         : #33ff33;
    --accent-color          : #ffb000;
    --bg-player-title       : #002200;
    --shadow-color          : #000000;
    --tile-placeholder      : #1a1a1a;
    --tile-info             : #000000;
    --tile-info-text        : #228822;
    --gradient-begin        : #003300;
    --gradient-end          : #050505;
    --nav-height            : 60px;
    --sidebar-width         : 432px;
    --default-font          : 'digital';
    --player-font           : 'digital';
    --player-font-size      : 24px;
}