<!-- main/bottom-player.html  -->

<div id="title">
    <div id="timer">0:00</div>
    <div id="duration">0:00</div>
</div>
<a  id="track" 
    onclick="var song_id = melodify.node('track').getAttribute('data-song-id'); if(song_id != '') melodify.navigate('/player', [`song=${ song_id }`]);" 
    data-song-id="">
</a>

<div id="waveform-wrapper">
  <div id="waveform"></div>
</div>
<div id="bar"></div>
<div id="progress-wrapper">
  <div id="progress"></div>
</div>
<div class="btn" id="playlistBtn"></div>
<div class="btn" id="volumeBtn"></div><div id="loading"></div>
    <div class="btn" id="playBtn"></div>
    <div class="btn" id="pauseBtn"></div>
    <div class="btn" id="prevBtn"></div>
    <div class="btn" id="nextBtn"></div>

<!-- Volume -->
<div id="volume" class="fadeout">
  <div id="barFull" class="bar"></div>
  <div id="barEmpty" class="bar"></div>
  <div id="sliderBtn"></div>
</div>