<!-- main/generic-list.html -->
<style>
    .grid {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
        gap: 15px;
        padding-top: 20px;
    }
    .card {
        padding: 15px;
        border: 1px solid var(--border-color);
        background-color: var(--bg-sidebar);
        border-radius: 5px;
        height: 54px;
        max-height: 54px;
        align-items: center;
        vertical-align: middle;
        transition: background-color 0.2s;
        overflow:  hidden;
    }
    .card:hover {
        background-color: var(--border-color);
    }
    .card a {
        text-decoration: none;
        /* display: block; */
    }
    .card h3 {
        overflow: hidden;
        width: 100%;
        margin: 0 0 5px 0;
        color: var(--accent-color);
    }
    .card p {
        margin: 0;
        font-size: 0.8em;
        color: var(--text-color);
    }
</style>


<input type="text" id="search-Input" class="searchInput" placeholder="Filtrar {{title}}..." onkeyup="melodify.filter('{{type}}')">
{% include "main/widget-title.html" with caption=title counter_id='item-count' counter_value=items.count %}

<div class="list-container">
    <div class="grid" id="Grid">
        {% for item in items %}
        <a onclick="melodify.navigate(`{% url url_detail pk=item.pk %}`)">
            <div class="card item" data-name="{{ item.name|lower }}">
                    <h3>{{ item.name }}</h3>
                </div>
            </a>
        {% empty %}
            <p id="no-message">No se encontraron {{ title }}.</p>
        {% endfor %}
    </div>
</div>