<!-- templates/app/home.html -->

{% load fontawesome_5 %}

<input type="text" id="searchInput" class="searchInput" placeholder="Filtrar...">

{% include "main/widget-title.html" with caption='Tu Biblioteca' subcaption=user.username %}

<div id="loading" style="display: none;">Cargando playlists...</div>
<p></p>
<h2 class="section">{% fa5_icon "list"  color="var(--accent-color)" %}&nbsp;Listas (<span id="playlist-count"></span>)</h2>
<div class="tile-container" style="display: flex; gap: 20px; margin-top: 16px; margin-bottom: 32px;" id="tileContainer"></div>
<h2 class="section">{% fa5_icon "heart" color="var(--accent-color)" %}&nbsp;Favoritos</h2>
{% include 'main/song-list.html' with data=favorites %}
<h2 class="section">{% fa5_icon "random" color="var(--accent-color)" %}&nbsp;Selección Aleatoria</h2>
{% include 'main/song-list.html' with data=songs %}

<script>
    const searchInput       = document.getElementById('searchInput'); 
    searchInput.addEventListener('input', melodify.handlePlaylistFilter);
    triggerSearch(melodify.handlePlaylistScroll, loadPlaylists); 
</script>

