<!-- templates/app/playlist_tiles.html -->

{% comment %}{% extends 'base.html' %}{% endcomment %} 
{% load fontawesome_5 %}
<style>
    .tile-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
        padding: 20px 0; 
    }

    .tile-item {
        border: none;
        border-radius: 8px;
        overflow: hidden;
        transition: transform 0.2s;
        text-align: center;
    }

    .tile-item img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        display: block;
    }

    .album-image {
        background: var(--bg-sidebar);
        background-size: cover;
        background-color: var(--bg-main); 
        background: linear-gradient(-45deg, #fcce, #8868, #3340), 
                    linear-gradient(-135deg, #cfce, #8668, #4430), 
                    linear-gradient(-225deg, #ccfe, #6868, #3340), 
                    linear-gradient(-315deg, #ffce, #6688, #3430) 
                    !important;
    }

    .tile-info {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        background-color: var(--bg-content);
    }

    .tile-info p {
        margin: 0;
        color: var(--tile-info-text);
        font-size: 0.9em;
    }

    h3.playlist-name {
        margin: 0 0 5px 0;
        font-size: 16px !important;   
        padding-bottom: 8px;
        height: 18px;
        text-align: left;
        padding-left: 14px;
        overflow: hidden;
    }

    .playlist-genres,
    .playlist-artists {
        color: var(--bg-sidebar);
        text-align: left;
    }

    .new-list{
        margin-top: 16px;
        width: 90%;
    }
    #new-list-name {
        width: 75%;
    }
    #new-list-send {
        color: var(--bg-main);
        
    }

    /* Estilo para ocultar el formulario por defecto */
    #new-list {
        display: none; 
    }
    
    .new-list-toggle {
        /* Estilo para el botón flotante o fijo que abre el form */
        /* Puedes ajustarlo a tu diseño (p. ej., un botón + en la esquina superior derecha) */
        cursor: pointer;
        padding: 5px 10px;
        background-color: var(--bg-sidebar);
        color: var(--bg-main) !important;
        border-radius: 5px;
        position: absolute;
        right: 16px;
        top: 16px;
    }

</style>

<input type="text" id="searchInput" style="margin-right: 64px;margin-top: 6px;" class="searchInput" placeholder="Filtrar listas...">

{% include "main/widget-title.html" with caption='Listas' counter_id='playlist-count' counter_value=playlists.count %}

<button type="button" onclick="toggleNewListForm()" style="border-radius: 24px" class="input new-list-toggle confirm">{% fa5_icon 'plus' color="#000"%}</button>

{% csrf_token %}
<div id="loading" style="display: none;">Cargando playlists...</div>

<div class="new-list" id="new-list">
    <input type="text" id="new-list-name" placeholder="Nombre de la lista" />
    <button type="button" id="new-list-send" class="input confirm" title="Añadir nueva lista" onclick="melodify.createPlaylist()">{% fa5_icon 'plus' color="#000"%}</button>
    <button type="button" id="new-list-cancel" class="input" title="Cancelar" onclick="toggleNewListForm()">{% fa5_icon 'times' color="#000"%}</button>
</div>    

<div class="tile-container" id="tileContainer"></div>

<script>
    const scrollbox         = document.getElementsByClassName('main-content')[0];
    const searchInput       = document.getElementById('searchInput'); 

    scrollbox.addEventListener('scroll', melodify.handlePlaylistScroll);
    searchInput.addEventListener('input', melodify.handlePlaylistFilter);

    triggerSearch(melodify.handlePlaylistScroll, loadPlaylists); 
    loadPlaylists();
</script>

