<script>
let soundPlayer = null; // Variable to hold the current Howler sound instance
let currentButton = null; // Variable to track which button is active


function MelodifyPlayer() {
    this.playlist = [];
    this.index    = 0;
}

MelodifyPlayer.prototype.enqueue = function(song){
    this.playlist.push(song);
    this.index = this.playlist.length-1;
    console.table(this.playlist);
}

MelodifyPlayer.prototype.play = function(song){
    this.enqueue(song);
    this.start();
}

MelodifyPlayer.prototype.start = function(){
    player.pause();
    player.playlist = this.playlist;
    player.play();
}

let melodify_player = new MelodifyPlayer();
let first_song = null;

function playSong(buttonElement, only_enqueue=false) {
    const artistName = buttonElement.getAttribute('data-artistname');
    const songName   = buttonElement.getAttribute('data-songname');
    const audioUrl   = buttonElement.getAttribute('data-src');
    const songId     = buttonElement.getAttribute('data-id');
    const nextSong   = buttonElement.getAttribute('data-next-id');
    var howl = null;//player.playlist.length ? player.playlist[player.index].howl : null;
    var song = {
        title   : `${artistName} - ${songName}`,
        file    : audioUrl,
        howl    : howl,
        next    : nextSong,
    };
    if( !only_enqueue) {
        first_song = songId;
    }
    melodify_player.enqueue( song );
    if( nextSong != "" && (nextSong != first_song) ){
        playSong( document.getElementById(`song-${ nextSong }`) , true );
    }
    if( !only_enqueue ) melodify_player.start();
}
</script>