<script>
let soundPlayer = null; // Variable to hold the current Howler sound instance
let currentButton = null; // Variable to track which button is active

function playSong(buttonElement) {
    const artistName = buttonElement.getAttribute('data-artistname');
    const songName = buttonElement.getAttribute('data-songname');
    const audioUrl = buttonElement.getAttribute('data-src');
    player.pause();
    player.playlist = [
        {
            title   : `${artistName} - ${songName}`,
            file    : audioUrl,
            howl    : null
        },
    ];
    player.play();
}
</script>