<!-- main/settings.html -->
{% include "main/widget-title.html" with caption="Ajustes" %}
{% include "main/widget-back.html" %}
{% include 'main/widget-section.html' with caption="Esquema de Color" icon="palette" %}
{% csrf_token %}
<style>
    .swatch {
        display: inline-block;
        box-sizing: border-box;
        width: 5%;
        height: 32px;
        border: 1px solid #0008;
    }
    .swatch:hover {
        border: 1px dotted var(--accent-color);
    }
    .swatch.active {
        border: 1px solid #f00;
    }

   
</style>

<select onchange="melodify.loadScheme( this.value ); melodify.saveState();" class="input breathe" style="width: 50%" id="schemes">
    <option value="">-------------</option>
    <option value="default">Default</option>
    <option value="purple">Purple</option>
</select>
<div id="swatches"></div>

<script>
    let elements = [
        'bg-main',
        'bg-nav',
        'bg-sidebar',
        'bg-sidebar-selection',
        'bg-sidebar-hover',
        'bg-content-blend',
        'bg-content',
        'text-color',
        'secondary-color',
        'link-color',
        'section-color',
        'confirm-color',
        'accent-color',
        'bg-player-title',
        'shadow-color',
        'tile-placeholder',
        'tile-info',
        'tile-info-text',
        'gradient-begin',
        'gradient-end',
    ];
    let colors = {};
    document.getElementById('swatches').innerHTML = '';
    for( i in elements){
        document.getElementById('swatches').innerHTML += `<div 
                title="${ elements[i] }" 
                id="${ elements[i] }" 
                class="swatch" 
                onclick="document.getElementsByClassName('swatch').forEach((swatch)=>swatch.className = 'swatch'); this.className='swatch active';"
                style="background-color: var(--${elements[i]})"
        ></div>`;
    }
    for( i in elements){
        colors[ elements[i] ] = getComputedStyle(document.getElementById(elements[i])).getPropertyValue(`--${ elements[i] }` ).trim();
    } 
    console.table(colors);
</script>
