{% load static %}
{% load fontawesome_5 %}
{% load utils %}

<div class="song-list">
    <div class="counter medium">
        <h3>{{ songs.count }} Pistas</h3> 
    </div>    
    {% for song in songs %}
    <div class="tile-item song-item" data-song-name="{{ song.title|lower }}">
        
        <div class="song-tracknumber">{{ forloop.counter }}</div>
        
        <button 
            class="play-button" 
            data-artistname="{{ song.artist.name }}" 
            data-songname="{{ song.title }}" 
            data-src="/static/{{ song.filename }}" 
            id="song-{{ song.pk }}"
            data-id="{{ song.pk }}"
            {% if not forloop.last %}
                data-next-id="{{ songs|get_next_song_id:forloop.counter0 }}"
            {% else %}
                data-next-id="{{ songs.0.id }}"
            {% endif %}
            onclick="playSong(this)">
            <div class="playBtn"></div>
        </button>
        
        <div class="song-art">
            {% if song.picture %}
            <div class="song-image" style="background-image: url('{{ song.picture }}')" alt="{{ song.title }} cover"></div>
            {% else %}
            <div class="placeholder-song-image">💿</div>
            {% endif %}
        </div>
        
        <div class="song-info">
            <a href="{% url 'song-detail' pk=song.pk %}">
                <h4 class="song-name">{{ song.title }}</h4>
                <p class="small">{{ song.artist }}</p>
            </a>
        </div>
        
        <div class="tile-buttons" style="float: right">
            <p class="small">{{ song.duration|strftime:"%H:%i:%s" }}</p>                    
            <div style="display: flex" >
                <button type="button" id="enqueue-song"     class="input confirm" title="Agregar a lista actual"    onclick="enqueueSong('{{ song.artist.name }}', '{{ song.title }}' ,'/static/{{ song.filename }}' ,'song-{{ song.pk }}', '{{ song.pk }}')">{% fa5_icon 'plus' color="#000"%}</button>
                <button type="button" id="show-playlists"   class="input confirm" title="Añadir a lista"            onclick="showPlaylists( this, '{{ song.pk }}' )">{% fa5_icon 'list' color="#000"%}</button>
                <button type="button" id="delete-entry"     class="input accent"  title="Eliminar de la lista"      onclick="remSongFromPlaylist('{{ playlist.id }}', '{{ song.pk }}')">{% fa5_icon 'trash' color="#000"%}</button>
            </div>
        </div>

    </div>
        
    {% empty %}
    <p id="no-songs-message">No se encontraron canciones.</p>
    {% endfor %}
</div>

<div id="playlists-window" class="playlists">
    <button type="button" style="float: right" id="close-playlists" class="input accent" title="Cancelar" onclick="hidePlaylists()">{% fa5_icon 'times'%}</button>
    <h4>{% fa5_icon 'list' %} Añadir a Lista</h4>               
    <div class="wrapper">
        <ul>
            {% for playlist in playlists %}
                <!-- {% include 'main/playlist-entry.html' with index=forloop.counter title=playlist.title subtitle='Test' use_index=False picture=playlist.songs.0.picture.url %} -->
                <li onclick="playlistmgr.addSongToPlaylist('{{ playlist.id }}')">
                    <div class="playlist-entry-picture"></div>
                    <div>
                        <!-- Playlist {{ forloop.counter }} -->
                        {{ playlist.title }}
                    </div>
                    <div>
                        <!-- Playlist {{ forloop.counter }} -->
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>