<!-- main/user.html -->
{% load static %}
{% load utils %}
{% load fontawesome_5 %}

{% include "main/widget-title.html" with caption=user.username.capitalize %}
{% include "main/widget-back.html" %}

<div class="user-detail-container" >    
    <p class="labels"><strong>Nombre de usuario: </strong>{{ user.username }}</p>
</div>
{% if user != client and not is_friend %}
    {% if is_invitation %}
        <button title="Aceptar Solicitud de Amistad" class="input accent" onclick="melodify.social.sendRequest({{ user.id }}, {{ friend.user.id }})">
            <i class="fas fa-user-check" ></i>
        </button >
        <button title="Rechazar Solicitud de Amistad" class="input accent" onclick="melodify.social.rejectRequest({{ user.id }}, {{ friend.user.id }})">
            <i class="fas fa-user-times" ></i>
        </button >
    {% elif not is_request %}
        <button title="Enviar Solicitud de Amistad" class="input accent" onclick="melodify.social.sendRequest({{ user.id }}, {{ friend.user.id }})">
            <i class="fas fa-user-plus" ></i>
        </button >
    {% else %}
        <button title="Cancelar Solicitud" class="input accent" onclick="melodify.social.cancelRequest({{ user.id }}, {{ friend.user.id }})">
            <i class="fas fa-times" ></i>
        </button >
    {% endif %}
{% elif authed or is_friend %}    
    {% if user != client %}
        <button title="Eliminar Amigo" class="input accent" onclick="melodify.social.deleteFriend({{ user.id }}, {{ friend.user.id }})">
            <i class="fas fa-user-times" ></i>
        </button >
    {% endif %}
    {% include 'main/widget-section.html' with caption="Listas de Reproducción" icon="list"  %}
    <ul>
        {% for playlist in playlists %}
            <li>{{ playlist.title }}</li>
        {% empty %}
            No hay listas.
        {% endfor %}
    </ul>
    {% include 'main/widget-userlist.html' with caption="Amigos"                icon="users"        data=friends        action_caption="Eliminar Amigo"      action="deleteFriend"   action_icon="user-times"    target='friend' %}
    {% if user == client %}
        {% include 'main/widget-userlist.html' with caption="Invitaciones"    icon="paper-plane"  data=invitations    action_caption="Aceptar Invitación"  action="acceptRequest"  action_icon="user-plus"     target='friend' %}
        {% include 'main/widget-userlist.html' with caption="Solicitudes"    icon="user-plus"   data=requests       action_caption="Rechazar Invitación" action="rejectRequest"  action_icon="user-times"    target='user'   %}
    {% endif %}
    {% if user == client %}
        <script>
            document.getElementById('logout-form').onsubmit = async (e) => {
                e.preventDefault();
                const formData = new FormData(e.target);
                
                const response = await fetch("{% url 'logout_ajax' %}", {
                    method: 'POST',
                    body: formData,
                    headers: { "X-CSRFToken": formData.get('csrfmiddlewaretoken') }
                });

                const data = await response.json();
                if (data.success) {
                    window.location.reload(); // Recarga para mostrar al usuario logueado
                } else {
                    melodify.toast("Error logging out", 5, true);
                }
            };
        </script>
        <hr class="breathe transparent"/>
        <form id="logout-form">
            {% csrf_token %}
            <button 
            type    = "submit" 
            id      = "button-logout" 
            class   = "input secondary"  
            title   = "Cerrar sesión" 
            >
                {% fa5_icon 'arrow-left' %}&nbsp;Cerrar sesión
            </button>
        </form>
    {% endif %}
{% endif %}