<!-- main/widget-checkbox.html -->
{% load fontawesome_5 %}
<div id="{{ id }}-wrapper" style="margin: 4px; {% if not slim %}width: 100%;display: flex;{% else %}display:inline-block;{% endif %} height: 40px; align-items: center; ">
    <label for="{{ id }}" onclick="{{ onclick }}">
        {% if icon %}
        {% fa5_icon icon %}
        &nbsp;
        {% endif %}
        <div style="display: inline-block; width: 160px; text-align: left;">
            {{ caption }}
        </div>
    </label>
    <input id="{{ id }}" onclick="{{ onclick }}" type="checkbox" checked="" style="width: 12px; height: 12px;">
</div>