<!-- main/widget-back.html  -->
 {% load fontawesome_5 %}
<button 
    {% if hardcoded_url %}
        onclick="melodify.navigate('{% if add_slash %}/{% endif %}{{ url }}')" 
    {% else %}
        {% if url_params is None %}
            onclick="melodify.navigate('{% url url %}')" 
        {% else %}
            onclick="melodify.navigate('{% url url url_params %}')" 
        {% endif %}
    {% endif %}
    title="Volver" 
    class="back-link input confirm" 
    style="position:absolute; top: 0px; right: 16px;">
    {% fa5_icon "arrow-left" color="#000"%}
</button>
