:root {
    --bg-main               : #1a080d;
    --bg-nav                : #4d0b1d;
    --bg-sidebar            : #3a0a14;
    --bg-sidebar-selection  : #9a0c32;
    --bg-sidebar-hover      : #520f1e;
    --bg-content-blend      : #1a080dC0;
    --bg-content            : #240b10;
    --text-color            : #e0e0e0;
    --secondary-color       : #b8b8b8;
    --link-color            : #ffeb3b;
    --section-color         : #d32f2f;
    --confirm-color         : #4caf50;
    --accent-color          : #ff5252;
    --bg-player-title       : #7f0d23;
    --shadow-color          : #000000;
    --tile-placeholder      : #4a1a1a;
    --tile-info             : #0a0000;
    --tile-info-text        : #8a8a8a;
    --gradient-begin        : #c62828;
    --gradient-end          : #7f0d23;
    --nav-height            : 60px;
    --sidebar-width         : 432px;
    --default-font          : 'lunchtype-regular';
    --player-font           : 'lunchtype-regular';
    --player-font-size      : 24px;
    --renderer              : scanlines;
}