:root {
    --bg-main               : #0a0a0a;
    --bg-nav                : #1a1a1a;
    --bg-sidebar            : #232a4a;
    --bg-sidebar-selection  : #3d4a84;
    --bg-sidebar-hover      : #323d6d;
    --bg-content-blend      : #0a0a0ac0;
    --bg-content            : #15192e;
    --text-color            : #FFD700;
    --secondary-color       : #df2140;
    --link-color            : #f3e5ab;
    --section-color         : #df2140;
    --confirm-color         : #ffffff;
    --accent-color          : #f3e5ab;
    --bg-player-title       : #000000;
    --shadow-color          : #000000;
    --tile-placeholder      : #2c355e;
    --tile-info             : #000000;
    --tile-info-text        : #f3e5ab;
    --gradient-begin        : #000000;
    --gradient-end          : #f3e5ab;
    --nav-height            : 60px;
    --sidebar-width         : 432px;
    --default-font          : 'annon';
    --player-font           : 'annon';
    --player-font-size      : 24px;
    --renderer              : themed;
}