{% load static %}
<!-- headers.html -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible"      content="IE=Edge">
<meta http-equiv="content-language"     content="en">
<meta name="viewport"                   content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover, user-scalable=no">
<meta name="msapplication-TileColor"    content="#ffffff">
<meta name="msapplication-TileImage"    content="{% static 'images/favicon.png' %}">
<meta name="theme-color"                content="#ffffff">

<style id="scheme">{% include 'schemes/default.css' %}</style>
<link rel="icon" 				href="{% static 'images/favicon.png'         %}" type="image/png">
<link rel="apple-touch-icon"    href="{% static 'images/favicon-57x57.png'   %}" type="image/png" sizes="57x57"  >
<link rel="apple-touch-icon"    href="{% static 'images/favicon-60x60.png'   %}" type="image/png" sizes="60x60"  >
<link rel="apple-touch-icon"    href="{% static 'images/favicon-72x72.png'   %}" type="image/png" sizes="72x72"  >
<link rel="apple-touch-icon"    href="{% static 'images/favicon-76x76.png'   %}" type="image/png" sizes="76x76"  >
<link rel="apple-touch-icon"    href="{% static 'images/favicon-114x114.png' %}" type="image/png" sizes="114x114">
<link rel="apple-touch-icon"    href="{% static 'images/favicon-120x120.png' %}" type="image/png" sizes="120x120">
<link rel="apple-touch-icon"    href="{% static 'images/favicon-144x144.png' %}" type="image/png" sizes="144x144">
<link rel="apple-touch-icon"    href="{% static 'images/favicon-152x152.png' %}" type="image/png" sizes="152x152">
<link rel="apple-touch-icon"    href="{% static 'images/favicon-180x180.png' %}" type="image/png" sizes="180x180">
<link rel="icon"                href="{% static 'images/favicon.png-192x192' %}" type="image/png" sizes="192x192">
<link rel="icon"                href="{% static 'images/favicon.png-32x32'   %}" type="image/png" sizes="32x32"  >
<link rel="icon"                href="{% static 'images/favicon.png-96x96'   %}" type="image/png" sizes="96x96"  >
<link rel="icon"                href="{% static 'images/favicon.png-16x16'   %}" type="image/png" sizes="16x16"  >

<link rel="shortcut icon" 		href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<link rel="apple-touch-icon" 	href="{% static 'images/favicon.png' %}">
<link rel="manifest"            href="{% static 'manifest.json' %}">
<link rel="stylesheet" 			href="/static/css/fonts.css">
<link rel="stylesheet" 			href="/static/css/base.css">
<link rel="stylesheet" 			href="/static/css/sidebar.css">
<link rel="stylesheet" 			href="/static/css/player-styles.css">
<link rel="stylesheet" 			href="/static/css/song-list.css">
<!-- Esta linea de estilos debe ser la última para que los estilos responsivos tengan efecto  -->
<link rel="stylesheet" 			href="/static/css/vertical.css">
