/* --- 1. Estilos Globales y Modo Oscuro --- */
:root {
    --bg-main: #121212;
    --bg-nav: #1e1e1e;
    --bg-sidebar: #2c2c2c;
    --bg-sidebar-selection: #383838;
    --bg-sidebar-hover: #303030;
    --bg-content-blend: #222222C0;
    --bg-content: #222222;
    --text-color: #e0e0e0;
    --secondary-color: #b4b0ae;
    --link-color: #fcd08c;
    --section-color: #1d8eff;
    --confirm-color: #73bf00;
    --accent-color: #ff7300;
    --bg-player-title: #804000;
    --shadow-color: #442200;
    --tile-placeholder: #777;
    --tile-info: #030303;
    --tile-info-text: #666;
    --nav-height: 60px;
    --sidebar-width: 432px;
}

html {
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    list-style: none;
}

/* Customize Scrollbars */
::-webkit-scrollbar {
    width: 8px;  /* width: 0px;  */
    background: transparent;  /* Optional: just make scrollbar invisible */
    position: absolute;
}
::-webkit-scrollbar-thumb { background: var(--bg-sidebar); border-radius: 4px;}
*:focus{
    outline: none;
}
 
/* Setup typographics */
p, div, span, h1, h2, h3, h4, h5, h6, section, header, article { font-family: 'lunchtype-regular'; }
.light          { font-family: 'lunchtype-light';}
.light.italic   { font-family: 'lunchtype-light-italic';}
.regular        { font-family: 'lunchtype-regular';}
.italic         { font-family: 'lunchtype-regular-italic';}
/* .italic         { font-style: italic; } */
.bold           { font-family: 'lunchtype-medium';}
/* .bold           { font-weight: bold ;} */
.bold.italic    { font-family: 'lunchtype-medium-italic';}
.small          { font-size: 12px; }
.medium         { font-size: 13px; }
.big            { font-size: 16px; }
.display        { font-size: 32px; }

/* Colors */
.confirm         { background-color: var(--confirm-color) !important; }
.accent          { background-color: var(--accent-color) !important; }

/* Generics */
.shadowed  { text-shadow: 0px 0px 7px #000;}
.blend-50  { opacity: 0.5; }
.blend-75  { opacity: 0.75; }
.blend-25  { opacity: 0.25; }
.absolute  { position: absolute;}
.inline-block { display: inline-block; }
.margin-2  { margin: 2px; }
.margin-4  { margin: 4px; }
.margin-6  { margin: 6px; }
.margin-8  { margin: 8px; }
.margin-10 { margin: 10px; }

body {
    background-color: var(--bg-main);
}

#melodify-logo{
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 8px;
    border-radius: 24px;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    border: 2px dashed var(--shadow-color);
    box-shadow: 0px 0px 1px var(--accent-color);
}
#melodify-logo .benzene{
    display: inline-block;
    font-size: 48px;
    line-height: 49px;
    width: 100%;
    text-align: center;
    height: 100%;
    background-color: var(--shadow-color);
    color: var(--accent-color);
    padding:0;
    position: absolute;
    text-shadow: 1px 1px 0px #0008;
    box-shadow: 0px 0px 16px var(--accent-color) inset;
    left: -0px;
    top: 0px;
}


body, html {
    height: 100%;
    font-family: sans-serif;
    background-color: var(--bg-main);
    overflow: hidden; /* Oculta el scrolling global */
}

/* --- 2. Contenedor Principal (Flexbox Vertical) --- */
.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* --- 3. Barra de Navegación Fija --- */
.navbar {
    background-color: var(--bg-main);
    padding: 10px 20px;
    display: flex;
    padding-left: 80px;/* make room for navbar */
    justify-content: space-between;
    align-items: center;
    height: var(--nav-height); /* Altura fija para la barra superior */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); */
    z-index: 10;
}
/* --- 3. Barra de Navegación Fija --- */
.playbar {
    background-color: var(--bg-main);
    padding: 10px 20px;
    display: flex;
    position: relative;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    height: 64px; /* Altura fija para la barra inferior */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); */
    z-index: 10;
}

/* Nav Link Customization */
.navbar-links a {
    margin-right: 20px;
    text-decoration: none;
    font-family: 'lunchtype-medium';
    color: var(--text-color);
    transition: color 0.3s;
}
.navbar-links a:hover {
    color: var(--accent-color);
}

/* --- 4. Panel Doble (Flexbox Horizontal) --- */
.content-container {
    display: flex;
    /* Ocupa el espacio restante después de la navbar */
    flex: 1; 
    overflow: hidden; /* Importante para contener el scrolling interno */
}

/* --- 6. Contenido Principal (75%) --- */
.main {
    position: relative;
    flex-basis: calc( 100% - var(--sidebar-width));
    background-color: var(--bg-main);
    padding-left: 4px;
    border: 0px solid #0000;
    /* Permite scrolling vertical SOLO aquí */
    overflow-y: hidden; 
    overflow-x: hidden;
}


.main-content {
    border-radius: 8px;
    background-color: var(--bg-content);
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow-y: auto; 
    overflow-x: hidden;
}
.main-overlay {
    position: absolute;
    top: 0px;
    pointer-events: none;
    width: 100%;
    height: 100%;
    box-shadow: -64px -64px 64px #000 inset;
}

/* Common */
.album-art{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.album-image{
    width: 200px;
    height: 200px;
    background-color: var(--bg-main);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.placeholder-image {
    width: 200px;
    height: 200px;
    background-color: var(--bg-content);
    font-size: 128px;
    color: var(--tile-placeholder);
    border-radius: 8px;
    /* filter: opacity(0.5); */
}

/* Hyperlink customization */
a, a:hover, a:visited, a:active {
    text-decoration: none;
}

a { 
    color: var(--link-color) !important;
}
a:hover { 
    color: var(--accent-color) !important;
}

/* Labels A */
.labels {
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
}


.labels > a, 
.labels > li {
    display: inline-block;
    display: inline-flex;    
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2px;
    height: 32px;
    align-items: center;
    margin-bottom: 2px;
    font-size: 14px;
    font-family: 'lunchtype-medium';
    border: 1px solid #6668;
    border-radius: 16px;
    background-color: #6668;
    user-select: none !important;
    cursor: pointer;
    margin-right: 4px;
}
.labels > a:hover, 
.labels > li:hover{
    filter: brightness(2);
} 
.breathe {
    margin: 16px;
}

/* Link de atrás, cuando hay */
.back-link {
    margin-top: 20px;
    display: inline-block;
    color: var(--link-color);
    font-size: 24px;
    font-weight: 800;
}

/* Cuadro de búsqueda (cuando hay)*/
.input,
input {
    height: calc( var(--nav-height) / 1.5 );
    color: var(--text-color);
    border-radius: calc( var(--nav-height) / 1.5 );
    font-weight: bold;
    border: none;
    font-size: 14px;
    padding: 8px 12px;
    background-color: var(--bg-main);
    min-width: calc( var(--nav-height) / 1.5 );
}
button.input{
    background-color: var(--bg-sidebar-selection);
    color: var(--secondary-color)
}

button.input:hover {
    filter: brightness(1.2);
}
button.input:active {
    filter: brightness(0.9);
    background-color: var(--accent-color) !important;
}

.searchInput {
    width: 25%;
    left: 37.5%;
    top: calc( calc( var(--nav-height) - var(--nav-height) / 1.5 ) / 2);
    position: absolute;
    background-color: var(--bg-sidebar);
}