@media (orientation: portrait){
    /* Vertical Layout */

    /* Reduce Song List Button Gap */

    /* Hide Sidebar Completely and Move Main Content To Fit Screen */
    .sidebar {   
        display: none !important;
    }
    .main {
        flex-basis: 100%;
        zoom: 0.8;
    }

    /* Extender Ventana de Playlists */
    .playlists {
        width : 100% !important;
        max-width : 100% !important;
        left: 0px;
    }

    /* Player time counters, smaller */
    #timer,
    #track,
    #duration {
        font-size: 12px;
        line-height: 16px;
    }
    #track {
        position: absolute;
        bottom: 0px;
        padding-left: 8px;
        padding-right: 8px;
        left: 0px;
        width: 100%;
        background-color: var(--bg-player-title);
    }

    /* Raise central buttons a little */
    #playBtn, #pauseBtn {
        top: 14px;
    }
    /* small bar */
    #progress {
        position: absolute;
        top: 16px;
        left: 25%;
        height: 4px;
    }
    #nextBtn {
        left: calc( 50% - 64px);
    }
    #prevBtn {
        right: calc( 50% + 64px);
    }
}