@media (orientation: portrait){
    /* Vertical Layout */

    /* Reduce Song List Button Gap */

    /* Hide Sidebar Completely and Move Main Content To Fit Screen */
    .sidebar {   
        display: none !important;
    }
    .main {
        flex-basis: 100%;
        zoom: 0.8;
    }

    /* Extender Ventana de Playlists */
    .playlists {
        width : 100% !important;
        max-width : 100% !important;
        left: 0px;
    }

    /* Player time counters, smaller */
    #timer,
    #duration{
        margin-top: 4px;
        font-size: 18px;
        line-height: 24px;
    }

    #track {
        font-size: 14px;
        line-height: 16px;
        position: absolute;
        bottom: 0px;
        padding-left: 8px;
        padding-right: 8px;
        left: 0px;
        width: 100%;
        background-color: var(--bg-player-title);
    }

    /* Raise central buttons a little */
    #playBtn, #pauseBtn {
        top: 14px;
    }
    /* bring next and prev buttons together  */
    #nextBtn {
        left: calc( 50% + 64px);
        right: auto;
    }
    #prevBtn {
        right: calc( 50% + 64px);
        left: auto;
    }

    /* small bottom player progress bar */
    @if(var(--small-bar)){
        #progress,
        #progress-wrapper {
            width: calc( 100% - 25%);
            position: absolute;
            height: 4px;
        }
        #waveform-wrapper{
            left: 12.5%;
            width: 75%;
        }
        #waveform {
            top: 0px;
            left: 0;
            height: 100%;
        }
        #progress-wrapper {
            left: 12.5%;
            z-index: 0;
            top: 6px;
            background-color: var(--bg-player-title);
        }
        #progress{
            z-index: 1000;
            top: 0px;
            width: 0px;
        }

    }
    .searchInput {
        left: auto;
        right: 8px;
    }
    /* Make song-list song title text smaller */
    .song-name {
        font-size: 14px !important;
    }    
}